@CHARSET "UTF-8";
canvas {
	display: block;
}

.gameButton {
	margin : 5px;
    padding: 5px;
	border: 3px #000000 solid;
	border-radius : 7px;
	display: inline-block;
}

.gameBoard {
	position: relative;
	width: 100%;
	border: 1px #ff0080 solid;
}

.galaxyBoard {
	border: 3px #000000 solid;
	position: absolute;
	overflow: auto;
	left: 25%;
	top: 10px;
}

.actionMenu {
	top: 10px;
    left: 10px;
	width: 24%;
	border: 3px #000000 solid;
	position: absolute;
}

.canvasContainer {
	overflow: auto;
}

.factionChoices {
	margin : 5px;
    padding: 10px;
    border: 1px #00ff80 solid;
    display: inline-block;
}

.xSlider{
	overflow-x: auto;
}

.activeFactionChoices {
	margin : 5px;
    padding: 10px;
    border: 1px #00ff80 solid;
    display: inline-block;
}

div.playerInfoBoard{
	margin : 5px;
    padding: 5px;
    border: 1px #00ff80 solid;
    display: inline-block;
    position:relative;
    vertical-align: top;
}

/** cartes de jeu**/
card {
	position:relative;
	border-radius: 20px;
	padding: 5px;
	display: inline-block;
	height: 300px;
	width: 200px;
	border: 8px #000000 solid;
	margin: 5px;
}

cardTitle {
	padding: 3px;
	display: inline-block;
	border: 2px #000000 solid;
	position:absolute;
	height: 30px;
	width: 160px;
	top: 15px;
    left: 15px;
    text-align: center;
}

cardText {
	padding: 3px;
	display: inline-block;
	border: 2px #000000 solid;
	position:absolute;
	height: 155px;
	width: 160px;
	top: 65px;
    left: 15px;
    text-align: center;
}


bottomText {
	padding: 3px;
	display: inline-block;
	border: 2px #000000 solid;
	position:absolute;
	height: 50px;
	width: 160px;
	top: 240px;
    left: 15px;
    text-align: center;
}


card:hover, card:focus {
    background-color: #0080ff;
}
/** cartes de jeu**/

/**menu modal**/

.infoStage {
	overflow: auto;
	display: none;
	position: fixed;
	left: 10%;
	top: 25%;
	z-index: 2;}

.modalBackGround {
	z-index: 1;
	background-color: rgba(100, 100, 100, .5);
	display:none;
	position: fixed;
	height:100%;
	width:100%;
	left: 0px;
	top: 0px;
}

/** images menu **/

resourceMenu{ 
	margin: 3px;
	display: inline-block;
	position: relative; 
	height: 300px;
	width: 200px;
	border: 3px #000000 solid;
}

resourceMenu1{
	padding: 3px;
	display: inline-block;
	position:absolute;
	height: 94px;
	width: 95%;
	top: 0px;
    left: 0px;
    text-align: center;
    font-size: 20px;
}

resourceMenu2{
	padding: 3px;
	display: inline-block;
	position:absolute;
	height: 94px;
	width: 95%;
	top: 100px;
    left: 0px;
    text-align: center;
}

resourceMenu3{
	padding: 3px;
	display: inline-block;
	position:absolute;
	height: 94px;
	width: 95%;
	top: 200px;
    left: 0px;
    text-align: center;
}

.imageMenu { 
   position: absolute; 
   top: 0px;
   left: 5px;
}

.textMenu { 
   position: absolute; 
   top: 0px;
   left: 0px; 
   width: 100%; 
   font-size: 40px;
   color: #BDBDBD;
    text-shadow:
    -1px -1px 0 #7A5230,
    1px -1px 0 #7A5230,
    -1px 1px 0 #7A5230,
    1px 1px 0 #7A5230;
}
